# Dependencies
node_modules/
# Build
dist/
.esbuild/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Env
.env
.env.*
frontend/.env
frontend/.env.*
# SQLite
server/src/data.sqlite
server/src/*.sqlite-journal
server/src/*.sqlite-wal
# Editor
.vscode/
.DS_Store
